<div class="d-flex">
  <div class="collage">
    <img src=<%= @collage.imagen %>>
  </div>

  <div class="info">
    <div class="menu">
      <%= link_to root_path do %>
        <div class="menu-button">
          <i class="fas fa-home"></i>
        </div>
      <% end %>
    </div>
    <div class="collage-info">
    <h1 class="mb-4"> <%= @collage.nombre %> </h1>
    <p> <%= @collage.medidas %> </p>

    <p> <%= @collage.tecnica %> original sobre <%= @collage.papel %> </p>

    <p> <%= @collage.precio %> €</p>
    </div>
  </div>
</div>
