<div class="d-flex">
  <div class="collage">
    <img src=<%= @collage.imagen %>>
  </div>

  <div class="info">
    <div class="menu">
      <%= link_to root_path do %>
        <div class="menu-button">
          <i class="fas fa-home"></i>
        </div>
      <% end %>
    </div>
    <div class="collage-info">
    <h1 class="mb-4"> <%= @collage.nombre %> </h1>
    <p> <%= @collage.medidas %> </p>

    <p> <%= @collage.tecnica %> original sobre <%= @collage.papel %> </p>

    <p> <%= @collage.precio %> €</p>
    </div>
    <div class="collage-navigation d-flex">
      <div class="previous">
        <% if !@collage.previous.nil? %>
          <%= link_to collages_path(@collage.previous.id) do %>
            <p class="navigation-arrow"> <i class="fas fa-chevron-left"></i> </p>
          <% end %>
        <% end %>
      </div>
      <div class="previous">
        <% if !@collage.next.nil? %>
          <%= link_to collages_path(@collage.next.id) do %>
            <p class="navigation-arrow"> <i class="fas fa-chevron-right"></i> </p>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
